flows.json
[{"id":"7fbc58dc.35db18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b0146b1.022f998","type":"watson-speech-to-text","z":"7fbc58dc.35db18","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":400,"y":100,"wires":[["d5b1dc95.7339a","b7bbb93f.de3268"]]},{"id":"d5b1dc95.7339a","type":"debug","z":"7fbc58dc.35db18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"c033b83f.6057b8","type":"microphone","z":"7fbc58dc.35db18","name":"","x":190,"y":40,"wires":[["b0146b1.022f998"]]},{"id":"f445bafd.551d88","type":"inject","z":"7fbc58dc.35db18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Testing text to speech","payloadType":"str","x":160,"y":440,"wires":[["3b086923.524e06"]]},{"id":"3b086923.524e06","type":"watson-text-to-speech","z":"7fbc58dc.35db18","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"es-ES_LauraVoice","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":390,"y":400,"wires":[["3b7b9297.03b09e"]]},{"id":"3b7b9297.03b09e","type":"change","z":"7fbc58dc.35db18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["c850ddb6.8dd44"]]},{"id":"c850ddb6.8dd44","type":"play audio","z":"7fbc58dc.35db18","name":"","voice":"","x":790,"y":280,"wires":[]},{"id":"b7bbb93f.de3268","type":"change","z":"7fbc58dc.35db18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":200,"wires":[["739f6104.1bc56"]]},{"id":"739f6104.1bc56","type":"watson-translator","z":"7fbc58dc.35db18","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":480,"y":220,"wires":[["f6366f65.8788a","3b086923.524e06"]]},{"id":"f6366f65.8788a","type":"debug","z":"7fbc58dc.35db18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":220,"wires":[]}]